<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Cliente</title>
    <th:block th:include="fragments/generales.html :: Bootstrap"/>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
    </style>
</head>
<body>

<div id="detallesCliente" style="float:none; margin: 0 auto;width: 50%;" >
    <div class="clearfix">
        <h2 th:text="#{msg.clientes.detalles}">Detalles del Cliente</h2>
    </div>
    <div class="clearfix">
        <hr/>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 30%" th:text="#{msg.campos.id} + ':'">Id:</div>
        <div style="float: left;width: 70%" th:text="${cliente.id}"></div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 30%" th:text="#{msg.campos.nombre} + ':'">Nombre:</div>
        <div style="float: left;width: 70%" th:text="${cliente.nombre}"></div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 30%" th:text="#{msg.campos.apellido1} + ':'">Apellido1:</div>
        <div style="float: left;width: 70%" th:text="${cliente.apellido1}"></div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 30%" th:text="#{msg.campos.apellido2} + ':'">Apellido2:</div>
        <div style="float: left;width: 70%" th:text="${cliente.apellido2 ?: '&nbsp;'}"></div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 30%" th:text="#{msg.campos.ciudad} + ':'">Ciudad:</div>
        <div style="float: left;width: 70%" th:text="${cliente.ciudad}"></div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 30%" th:text="#{msg.campos.categoria} + ':'">Categoría:</div>
        <div style="float: left;width: 70%" th:text="${cliente.categoria}"></div>
    </div>
    <div class="clearfix">
        <div style="float: none;width: auto;overflow: hidden;">
            <!-- Agrega aquí cualquier otro detalle que desees mostrar -->
        </div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>
    <div class="clearfix">
        <form th:action="@{/clientes}" method="get" style="display: inline;">
            <input type="submit" class="btn btn-primary" th:value="#{btn.clientes.volver}" />
        </form>
    </div>

    <div class="clearfix">
        <hr/>
    </div>

    <!-- Comerciales Asociados y pedidos -->
    <div style="margin-top: 20px;" class="clearfix">
        <h3>Comerciales Asociados</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Comisión</th>
                <th>Conteo Pedidos Último Trimestre</th>
                <th>Conteo Pedidos Último Semestre</th>
                <th>Conteo Pedidos Último Año</th>
                <th>Conteo Pedidos Último Lustro</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comercial : ${comerciales}">
                <td th:text="${comercial.nombre}"></td>
                <td th:text="${comercial.getApellido1()}"></td>
                <td th:text="${comercial.getComision()}"></td>
                <td th:text="${conteoUltimoTrimestre}"></td>
                <td th:text="${conteoUltimoSemestre}"></td>
                <td th:text="${conteoUltimoAnio}"></td>
                <td th:text="${conteoUltimoLustro}"></td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>
